.App li {
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.light {
  background-color: #fff;
}

.dark,
input,
.dark button {
  background-color: #000;
  color: #adff2f
}

button img {
  height: 15px;
}

.App-link {
  color: #61dafb;
}

#theme {
  position: fixed;
  top: .5rem;
  right: .5rem;
}

.prompt input {
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
}

*:focus {
  outline: none;
}

.prompt {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

a,
.user,
.email,
.files,
.command,
.skill-category-name {
  font-weight: 600;
}

input[type='text'] {
  width: 75%;
  word-wrap: break-word;
}

.line {
  margin-block: 1rem;
}

/* Media query for screens less than 760px wide */
@media (max-width: 880px) {
  input[type='text'] {
    width: 70%;
  }
}

@media (max-width: 590px) {
  input[type='text'] {
    width: 65%;
  }
}

@media (max-width: 590px) {
  input[type='text'] {
    width: 55%;
  }
}

.help-body {
  display: flex;
  flex-direction: column;
  gap: .7rem
}

.whoami {
  line-height: 1.3rem;
}

.help-body li,
.files {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.spacing {
  width: 17rem;
}

.italic {
  font-style: italic;
}