.App li {
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.light {
  background-color: #fff;
}

.dark,
input,
.dark button {
  background-color: #000;
  color: #adff2f;
}

button img {
  height: 15px;
}

.App-link {
  color: #61dafb;
}

#theme {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.prompt input {
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
}

*:focus {
  outline: none;
}

.prompt {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

a,
.user,
.email,
.host,
.seperator,
.dollar,
.files,
.command,
.skill-category-name {
  font-weight: 600;
}

input[type="text"] {
  width: 75%;
  word-wrap: break-word;
}

.line {
  margin-block: 1rem;
}

.help-body {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.whoami {
  line-height: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.help-body li,
.files {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.spacing {
  width: 17rem;
}

.italic {
  font-style: italic;
}

a {
  text-decoration: none;
  padding: 0 2px 0 0;
  color: inherit;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.portfolio .item {
  display: flex;
  gap: 1rem;
}

/* dark theme */
.dark a {
  background: #acff2f2f;
}

.dark a:hover {
  background: greenyellow;
  color: #000;
}

.dark .at {
  font-weight: 600;
}

/* light theme */
.light input {
  color: inherit;
}

.light .attributes {
  color: darkcyan;
  font-style: italic;
}

.light .usage {
  font-weight: 600;
  color: lightslategray;
}

.light .command {
  color: goldenrod;
}

.light a {
  color: darkslateblue;
  background-color: #faf0e6;
}

.light a:hover {
  background-color: goldenrod;
}

.light .user {
  color: #4a90e2;
}

.light .at {
  font-weight: 901;
}

.light .host {
  color: #8b0000;
}

.light .seperator {
  color: olivedrab;
}

.light .dollar,
.light .greetings {
  color: #800080;
}

/* Media query for screens less than 760px wide */
@media (max-width: 880px) {
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 590px) {
  input[type="text"] {
    width: 65%;
  }
}

@media (max-width: 590px) {
  input[type="text"] {
    width: 55%;
  }
}
